<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    />
    <meta
        http-equiv="X-UA-Compatible"
        content="ie=edge"
    />
    <!-- @@placeholder= meta -->
    <title>Gulp Tool |
        <!-- @@var title "App" -->
    </title>
    <link
        rel="shortcut icon"
        href="favicon.ico"
        type="image/x-icon"
    />
    <!-- Stylesheets -->
    <link
        rel="stylesheet"
        href="@@webRoot/assets/css/styles.min.css?cb=123"
    />
    <!-- @@placeholder= styles -->
</head>

<body>
    <!-- @@placeholder= content -->

    <!-- Scripts -->
    <script
        async
        defer
        src="@@webRoot/assets/js/vendors.min.js?cb=123"
    ></script>
    <script
        async
        defer
        src="@@webRoot/assets/js/app.min.js?cb=123"
    ></script>
    <!-- @@placeholder= scripts -->
</body>

</html>
